.DS_Store
.env
.env.*
.eslintcache
.npm-debug.log*
.pnpm-debug.log*
.yarn-debug.log*
.yarn-error.log*
coverage
dist
node_modules
*.log
*.tsbuildinfo
*.tgz
.cache
.parcel-cache
.vite
.turbo
.vercel
.next
.out
.idea
.vscode
